In [1]:
import pandas as pd

# for example take the list of the celebrities or in case u have it some data frame convert tha column to list

emails = []            
for i in df["names"]:   # where df is the dataframe with name as the column
     emails.append(i)     
for i in emails:          
     i.replace((" "),("_"))

# this has to be done as the spaces has to be removed with underscore for the creating the links.

In [5]:
emails = ["Aaron_Paul","Sofia_Vergara","John_Stamos","Lena_Dunham","Anna_Kendrick"]

base_url="https://en.wikipedia.org/wiki/{}"

for i in emails:
    print(base_url.format(i))

https://en.wikipedia.org/wiki/Aaron_Paul
https://en.wikipedia.org/wiki/Sofia_Vergara
https://en.wikipedia.org/wiki/John_Stamos
https://en.wikipedia.org/wiki/Lena_Dunham
https://en.wikipedia.org/wiki/Anna_Kendrick

In [6]:
from selenium import webdriver
import os
path_tounzipfile = "C:\\Users\\Administrator\\Desktop\\data scrapimg and wrangling\\zip"
os.chdir(path_tounzipfile)
browser = webdriver.Firefox(path_tounzipfile)

from bs4 import BeautifulSoup

base_url="https://en.wikipedia.org/wiki/{}"

master ={}
from tqdm import tqdm
for i in tqdm(emails):
    url=base_url.format(i)
    browser.get(url)
    html =browser.page_source
    soup = BeautifulSoup(html,'html.parser')
    
    table=soup.find_all("table",class_='infobox biography vcard')
    tbody = table[0].find_all("tbody")
    tr = tbody[0].find_all("tr")
    td = tr[2].find_all("td")
    age=td[0].find_all("span",class_= "noprint ForceAgeToShow")[0].text
    a=age[-3:-1]
    master[i]=a

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:07<00:00,  1.47s/it]

In [7]:
master

{'Aaron_Paul': '40',
 'Sofia_Vergara': '47',
 'John_Stamos': '56',
 'Lena_Dunham': '33',
 'Anna_Kendrick': '34'}

In [32]:
# now again changing the names in the previous form

final_d={}
for i in master.keys():
    final_d[(i.replace(("_"),(" ")))] = master[i]

In [41]:
final_d

{'Aaron Paul': '40',
 'Sofia Vergara': '47',
 'John Stamos': '56',
 'Lena Dunham': '33',
 'Anna Kendrick': '34'}

In [45]:
age_df = pd.DataFrame(final_d.items(),columns=["fullName","age"])

In [46]:
age_df  # now merge this data frame to the originak data frame

        fullName age
0     Aaron Paul  40
1  Sofia Vergara  47
2    John Stamos  56
3    Lena Dunham  33
4  Anna Kendrick  34

In [ ]:
# Simillarly we can fetch any details from the bio card like occupation, website, etc